<?php

declare(strict_types=1);

$config = require __DIR__ . '/config.php';
$db = $config['db']['adapters']['database'];

$dbConfig = [
    'adapter' => 'mysql',
    'host' => $db['hostname'],
    'name' => $db['database'],
    'user' => $db['username'],
    'pass' => $db['password'],
    'port' => $db['port'],
    'charset' => $db['charset'],
];

return [
    'environments' => [
        'default_migration_table' => 'migrations',
        'default_database' =>  'development',

        'production' => $dbConfig,
        'development' => $dbConfig,
        'testing' => $dbConfig,
    ],

    'paths' => [
        'migrations' => [
            'Data\\Database\\Migrations' => 'data/database/migrations'
        ],
        'seeds' =>  [
            'Data\\Database\\Seeds' => 'data/database/seeds',
        ]
    ],

    'version_order' => 'creation',
];
